<!DOCTYPE html>
<html lang="ru">
  
  <head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_title}}</title>
    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your
    overrides if you like -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/modernizr.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="content">
        <header class="header clearfix">
          <img class="img" src="img/ks-name.jpg" alt="Киноспойлер">
        </header>
        <div class="info clearfix">
          <article class="clearfix">
            <form class="right">
              <label for="searche">Поиск спойлеров:</label>
              <input type="text" name="searche" placeholder="Название..">
            </form>
            <hr>
            <h2>Новые новости
              <small>Подзаголовок, если нужно</small>
            </h2>
            <p>Это анонс нового, самого чудесного обзора фильма. Мы его недавно добавили на сайт, скорее же читайте! Мы старались сделать
              его интересным и увлекательным. Хотите узнать, чем всё закончиось?
              <a href="#">{Читать...}</a>
              <hr>
          </article>
          <aside class="col_25 clearfix">
            <h2>Каталог</h2>
            <ul>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Code</a>
              </li>
              <li>
                <a href="#">Design</a>
              </li>
              <li>
                <a href="#">Fun</a>
              </li>
              <li>
                <a href="#">Weasels</a>
              </li>
            </ul>
            <div class="message center">
              <h5>Такой блок</h5>
              <p>Не знаю пока, что здесь.. Какая-то реклама, например, или важные новости.. Ну, как-то так.
                <a href="#">{Подробности..} </a>
            </div>
          </aside>
          <main class="col_75 clearfix">
            <article class="film_card">
              <h2>
                <a href="#">Человек дождя <small>/Rain Man/ </small> </a>
              </h2>
              <h6>Добавил:
                <a href="#">John Smith</a>12.04.2015</h6>
              <div class="col_100 clearfix">
                <div class="col_33 clearfix">
                  <img class="img" src="img/posters/519.jpg">
                </div>
                <div class="col_66 clearfix">
                  <ul>
                    <li>
                      <b>Жанр:</b>Драма
                      <li>
                        <b>Режиссер:</b>Барри Левинсон
                        <li>
                          <b>В ролях:</b>Дастин Хоффман, Том Круз, Валерия Голино
                          <li>
                            <b>Премьера:</b>1988.
                            <li>
                              <b>Оценка:</b>10</ul>
                </div>
              </div>
              <hr/>
              <p>У Чарли, грубоватого и эгоистичного молодого повесы, в наследство от отца остались лишь розовые кусты да «Бьюик» 49-го года.
                Внезапным «сюрпризом» для него стало открытие того, что львиная доля наследства оставлена отцом его больному аутизмом брату
                Раймонду.
                <p>Задавшись целью отобрать свою «справедливую долю» семейного достояния, Чарли похищает старшего брата и держит его заложником.
                  Но то, что было задумано им из эгоизма, перерастает в волшебную одиссею дружбы и самоосмысления, которая разводит границы
                  обособленного мира Раймонда, а Чарли позволяет вырваться из оков своей некогда бесчувственной души.
                  <a href="#">{Читать...}</a>
            </article>
            <hr/>
            <article>
              <h2>
                <a href="#">Хороший, плохой, злой <small>/Il buono, il brutto, il cattivon/ </small> </a>
              </h2>
              <h6>Добавил:
                <a href="#">John Smith</a>14.04.2015</h6>
              <div class="col_100 clearfix">
                <div class="col_33 clearfix">
                  <img class="img" src="img/posters/349.jpg">
                </div>
                <div class="col_66 clearfix">
                  <ul>
                    <li>
                      <b>Жанр:</b>Вестерн, Боевик, Комедия
                      <li>
                        <b>Режиссер:</b>Серджио Леоне
                        <li>
                          <b>В ролях:</b>линт Иствуд, Ли Ван Клиф, Илай Уоллак, Альдо Джуффре, Луиджи Пистилли, Рада Рассимов, Энцо Петито, Клаудио Скаркилли,
                          Джон Барта, Ливио
                          <li>
                            <b>Премьера:</b>1966.
                            <li>
                              <b>Оценка:</b>10</ul>
                </div>
              </div>
              <hr/>
              <p>В разгар гражданской войны таинственный стрелок скитается по просторам Дикого Запада. У него нет ни дома, ни друзей, ни
                компаньонов, пока он не встречает двоих незнакомцев, таких же безжалостных и циничных.
                <p>По воле судьбы трое мужчин вынуждены объединить свои усилия в поисках украденного золота. Но совместная работа — не самое
                  подходящее занятие для таких отъявленных бандитов, как они. Компаньоны вскоре понимают, что в их дерзком и опасном путешествии
                  по разоренной войной стране самое важное — никому не доверять и держать пистолет наготове, если хочешь остаться в живых.
                  <a
                  href="#">{Читать...}</a>
            </article>
          </main>
        </div>
        <footer class="footer">
          <hr>
          <p align="center">© kinospoiler.com 2015</footer>
      </div>
    </div>
  </body>